<div class="header">
  <h1 class="header__title">TO DO LIST</h1>
  <div class="btn-group">
    <app-button [buttonText]="'ALL'"></app-button>
    <app-button [buttonText]="'ACTIVE'"></app-button>
    <app-button [buttonText]="'FINISHED'"></app-button>
  </div>
  <app-select></app-select>
  <div class="header-new-card">
    <h4 class="header-new-card__text">Create new task:</h4>
    <div class="header-new-card-controls">
      <app-input [textControl]="taskControl"></app-input>
      <app-button (click)="taskControl.value ? createTask() : null" [buttonText]="'Create!'"></app-button>
    </div>
  </div>
</div>
